.card {
    box-sizing: border-box;
    background-color: #000000;
    background-image: linear-gradient(315deg, #262626 0%, #3e3e3e 74%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all ease .3s, box-shadow .3s;
    cursor: pointer;
    width: 258px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;

    .imgContainer {
        overflow: hidden;
        width: 100%;
    }

    img {
        width: 100%;
        box-sizing: border-box;
    }

    .cardBottom {
        position: relative;
        height: 85px;
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
    }

    .cardInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 0;
        // border: 1px solid red;
    
    }

    .cardTitle,
    .cardYear {
        margin-block: 0;

    }

    .cardTitle {
        max-width: 161px;
        font-size: 16px;
        margin-left: 15px;
    }

    .cardYear {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        margin-top: 10px;
        margin-right: 15px;
        font-weight: 700;
        opacity: 80%;
    }

    .ratings-wrapper {
        display: flex;
        align-items: center;
        p {
            margin: 0px 0px 6px 10px;
            font-size: 14px;
        }
    }

    .ratingsContainer {
        height: 20%;
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 8px;
        // border: 1px solid rgb(0, 208, 255);
    }


}

.card:hover {
    transform: scale(1.03);
    transform: translateY(-10px);
}