@use "src/mixins.scss" as mixin;

.about-container {
    @include mixin.flexbox(column, 0, center);
    color: white;
    h1 {
        margin: 60px;
    }
    article {
        margin-bottom: 60px;
    }
}

.profile-image {
    height: 350px;
    width: 350px;
    border-radius: 5px;
}

.placeholder-box {
    height: 350px;
    width: 350px;

}

.profile-text {
    @include mixin.flexbox(column, 0, 0);
    width: 450px;
    margin-right: 60px;
    margin-left: 60px;
    h2 {
        margin-bottom: 0;
    }
}

.eddie {
    display: flex;
    margin-right: 150px;
}

.eric {
    display: flex;
    margin-left: 150px;
}

@media screen and (max-width: 600px){
   .about-container {
       width: 100%;
   }
   profile-image {
    height: 350px;
    width: 90%;
    border-radius: 5px;
}

.placeholder-box {
    height: 350px;
    width: 100%;

}

.profile-text {
    @include mixin.flexbox(column, 0, 0);
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    h2 {
        margin-bottom: 0;
    }
}

.eddie {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
    @include mixin.flexbox(column, center, center);
}

.eric {
    @include mixin.flexbox(column, center, center);
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0px;
}
}