.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-modal {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 30px;
    background: none;
    border: none;
    cursor: pointer;
    :hover {
      opacity: 80%;
    }
    img {
      width: 30px;
    }
  }
}

.modal_content {
  position: relative;
  width: 1300px;
  min-height: 500px;
  color: white;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;

  th {
    font-weight: normal;
    text-align: left;
  }

  .react-player {
    // flex: 1;
    margin-right: 60px;
  }
}

.modal-info {
  margin: 60px;
  width: 34%;
}
