@use "src/mixins.scss" as mixin;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.949);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  @include mixin.flexbox(0, center, center);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @keyframes fadeIn {
    0% {
      background:rgba(0,0,0,.0);
    }
    100% {
      background:rgba(0,0,0,.7);
    }
  }

  .close-modal {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 30px;
    background: none;
    border: none;
    cursor: pointer;
    :hover {
      opacity: 80%;
    }
    img {
      width: 30px;
    }
  }
}

.ratings-wrapper {
  display: flex;
  align-items: center;
  p {
      margin: 0px 0px 6px 10px;
      font-size: 14px;
  }
}

.modal_content {
  position: relative;
  width: 1300px;
  min-height: 500px;
  color: white;
  background: #1b1b1b;
  @include mixin.flexbox(0, space-between, center);
  background-image: linear-gradient(315deg, #151515 0%, #282828 74%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  opacity:0;
  animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

  @keyframes scaleUp {
    0% {
      transform:scale(.8) translateY(1500px);
      opacity:0;
    }
    100% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
  }
  
  table {
    th {
      font-weight: normal;
      text-align: left;
    }

    .table-value {
      padding-left: 15px;
    }
  }



  .react-player {
    margin-right: 60px;
  }
}

.modal-info {
  margin: 60px;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .modal {
    @include mixin.flexbox(column, center, 0);
    .close-modal {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      margin: 10px;
      background: none;
      border: none;
      cursor: pointer;
      :hover {
        opacity: 80%;
      }
      img {
        width: 30px;
      }
    }
  }
  .modal_content {
    @include mixin.flexbox(column-reverse, center, 0);
    width: 98%;
    margin-right: 0px;
    height: 87%;
    overflow-y: scroll;
    .react-player {
      display: flex;
      flex: 1;
      padding: 10px;
      width: 95%;
      height: 300px;
      margin-right: 0px;
      margin-top: 10px;
    }
      img {
        width: 30px;
      }
    }
    .modal-info{
      width: 93%;
      margin: 10px 10px 10px;
      h2 {
        margin: 2px;
      }
    }
  }
