@use "src/mixins.scss" as mixin;

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.searchContainer {
	position: absolute;
	right: 0;
	@include mixin.flexbox(row, center, center);
	border-radius: 15px;
	background-color: #494949;
	overflow: hidden;
	transition: ease 0.3s;
	height: 35px;
	margin-right: 35px;
}

.searchContainer:hover {
	border: 1px solid #a3a3a3;
	transform: scale(1.02);
		
	input::placeholder{
		color: rgb(185, 185, 185);
		transition: ease 0.3s;
	}

}

.searchBar {
	width: 0px;
	height: 30px;
	border-style: none;
	border-color: none;
	color: #eaeaea;
	transition: 0.5s;
	text-indent: 10px;
	font-size: 16px;
	transition: width ease 0.3s;
	background-color:#494949;

}

.searchBar.show {
	width: 200px;
}

.icon {
	height: 20px;
	filter: brightness(0.25);
	filter: invert(20%);
	transform: rotateY(180deg);
	cursor: pointer;
	margin: 10px 6px 5px 10px;
	overflow: hidden;
	transition: ease 0.7s;
	transform: rotate(0deg);
}

.icon:hover {
	filter: invert(66%) sepia(99%) saturate(450%) hue-rotate(25deg) brightness(150%) contrast(87%);
	transform: rotate(360deg);
}

.nav-link active {
	border-bottom: none;
}

.searchBar:focus {
	outline-width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	transition: background-color 5000s;
	-webkit-text-fill-color: #fff !important;
}

@media screen and (max-width: 600px) {
	.searchContainer {
		position: relative;
		margin-top: 5px;
		margin-bottom: 10px;
		margin-right: 0px;
	}
 } 