.movie-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px 75px 0px 75px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 25px;
    color: lightgray;

}

.movie-section {
    display: flex;
    flex-direction: column;
    h2 {
        margin-left: 100px;
        color: white;
    }
}