.movie-container {
    display: flex;
    justify-content: center;
    // padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 258px);
    grid-gap: 20px;
    color: lightgray;

}

.movie-section {
    display: flex;
    flex-direction: column;
    .movie-section-header {
        display: flex;
        align-items: center;
        height: 80px;
        .genres {
            color: lightgray;
            padding-inline-start: 10px;

            .All {
                height: 50px;
                font-size: 30px;
                margin: 0px 10px 0px;
            }

            button {
                position: relative;
                height: 35px;
                display: inline-block;
                border: none;
                padding: 10px;
                text-decoration: none;
                background: none;
                color: lightgrey;
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
                transition: 0.3s ease;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: linear-gradient(#bababa, #909090);
                background-size: 0% 0.1em;
                background-position-y: 100%;
                background-position-x: 0%;
                background-repeat: no-repeat;
                transition: background-size 0.2s ease-in-out;
                margin: 0px 2px 0px;

            }

            :hover {
                background-size: 100% 0.1em;
            }

            .active,
            :focus {
                color: lightgreen;
                background-size: 100% 0.1em;
                background-image: linear-gradient(#229728, #4bb345);
            }
            
        }
    }
    
}