.movie-container {
    display: flex;
    justify-content: center;
    // padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 258px);
    grid-gap: 20px;
    color: lightgray;

}

.movie-section {
    display: flex;
    flex-direction: column;
    .movie-section-header {
        display: flex;
        h2 {
            margin-top: 35px;
            margin-left: 35px;
            color: white;
            min-width: 130px;
        }
        .genres {
            margin-top: 34px;
            color: lightgray;
            padding: 0px 0px 0px 20px;
            li {
                font-size: 14px;
                list-style: none;
                display: inline-block;
                margin: 10px;
            }
        }
    }

    
}