@use "src/mixins.scss" as mixin;


a {
    color: white;
    text-decoration: none;
}

.footer-container {
    position: relative;
    background-color: #141414;
    height: 480px;
    width: 100%;
    margin-top: 40px;
    color: white;
    @include mixin.flexbox(0, center, 0);
    section {
        @include mixin.flexbox(column, 0, 0);
        a {
            margin-bottom: 20px;
            :hover {
                text-decoration: underline;
            }
        }
    }
    h3 {
        margin-bottom: 45px;
        margin-top: 9px;
    }
    .react-logo {
        position: absolute;
        bottom: 0;
        margin-bottom: 60px;
    }
}

.logo-description {
    img {
        height: 60px;
        width: 400px;
    }
    width: 420px;
    .copyright {
        margin-top: 60px;
    }
}

.linkedin {
    margin-left: 100px;
}

.github {
    margin-left: 100px;
}

.repo {
    margin-left: 100px;
}

.footer-content {
    margin-left: 35px;
    margin: 60px 35px 0px 35px;
    @include mixin.flexbox(0, center, 0);
    .links {
        display:flex;
    }
}

@media screen and (max-width: 1365px) {
    .footer-content {
        .links {
            flex-direction: column;
        }
    }

    .footer-container {
        height: 650px;
    }
}

@media screen and (max-width: 813px) {
    .footer-content {
        flex-direction: column;
        justify-content: flex-start;
        section {
            justify-content: center;
            margin: 0px;
            text-align: center;
        }
        .links {
            padding-left: 20px;
        }
    }

    .footer-container {
        height: 1000px;

    }
}