.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.searchContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchBar {
	width: 100%;
	height: 40px;
	background-color: #222222;
	border-style: none;
	border-color: none;
	color: #ffffff;
	transition: 0.5s;
	text-indent: 10px;
	font-size: 18px;

}

.icon {
	height: 23px;
	margin-left: 100px;
	filter: brightness(0.25);
	filter: invert(40%);
	transform: rotateY(180deg);
	
}

.searchBar:focus {
	outline-width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}