@use "mixins.scss" as mixin;

nav {
    width: 100%;
    height: 100px;
    background-color: #871414;
    color: white;
    @include mixin.flexbox(0, space-between, center);
    h1 {
        margin-left: 100px;
    }
    .nav-links {
        margin-right: 100px;
    }
}