@use "src/mixins.scss" as mixin;

nav {
    width: 100%;
    height: 90px;
    background-color: #141414;
    color: white;
    @include mixin.flexbox(0, 0, center);
    img {
        margin-left: 35px;
    }
    .logo {
        height: 60px;
    }
    .nav-links {
        margin-right: 110px;
        margin-left: 35px;
        @include mixin.flexbox(0, row, center);
        .nav-link {
            color: white;
            text-decoration: none;
            font-size: 14px;
            margin-left: 30px;
            padding: 5px 0px 5px 0px;
        }
        .active {
            border-bottom: 3px solid #7F923C;
            font-size: 17px;
            font-weight: bold;
        }
    }
}

.logo active{
    border-bottom: none;
}

@media screen and (max-width: 600px) {
   nav {
       height: 170px;
       @include mixin.flexbox(column, space-around, center);
       width: 100%;
       .nav-links{
           margin: 0px;
           @include mixin.flexbox(row, space-between, center);
           .nav-link {
               margin: 10px;
           }
       }
       
       img {
        height: 40px;
        margin-left: 0px;
        }
        .logo {
            height: 40px;
        }
   }
  } 