.banner {
    position:relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: black;
    text-align: left;
}

.banner-image-wrapper {
    position: relative;
    margin-top: 4px;
    img {
        height: 450px;
    }
}

.banner-info {
    color: white;
    margin: 125px;
}

.banner-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 820px;
    background: linear-gradient(90.06deg, black 2%, rgba(0, 0, 0, 0) 26.63%);

}