@use "src/mixins.scss" as mixin;

.banner {
    position:relative;
    @include mixin.flexbox(0, 0, center);
    width: 100%;
    height: 450px;
    background-color: black;
    text-align: left;
}

.banner-image-wrapper {
    position: relative;
    img {
        height: 450px;
    }
}

.banner-info {
    position: relative;
    color: white;
    margin: 0px 125px 0px 125px;
    font-size: 1.2vw;
}

.banner-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 820px;
    background: linear-gradient(90.06deg, black 2%, rgba(0, 0, 0, 0) 26.63%);
}


.ratings-wrapper {
    @include mixin.flexbox(0, 0, center);
    p {
        margin: 1px 0px 0px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px){
    .banner {
        display: none;
    }
}